<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Все товары</title>
</head>
<body>
<h3>Просмотр всех товаров</h3>
<hr>
<br>
<a href="/admin/product/add">Добавить новый товар</a>
<div th:each="product : ${products}">
  <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
  <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
  <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="100px">
  <br>
  <!--    Ссылка на редактирование товара. Внедряем динамическую переменную в ID и -->
  <!--    потом будем её принимать в контроллере-->
  <a th:href="@{/product/info/{id}(id=${product.getId()})}">Подробная информация о товаре</a>
  <br>
  <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактировать товара</a>
  <br>
  <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удалить товар</a>
  <hr>
</div>
  <a href="/admin">Назад в личный кабинет администратора</a>
  <hr>
  <form method="POST" th:action="@{/logout}">
    <button type="submit">Выйти из личного кабинета</button>
  </form>
</body>
</html>