<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Пользователи</title>
</head>
<body>
<h3>Список всех пользователей</h3>
<br>
<div th:each="user : ${users}">
  Логин пользователя: <a th:href="@{/admin/user/{id}(id=${user.getId()})}" th:text="${user.getLogin()}"></a>
  <p th:text="'Роль пользователя: ' + ${user.getRole}"></p>
  <hr>
  <br>
</div>
<a href="/admin">Назад в личный кабинет</a>
<hr>
<br>
<form method="POST" th:action="@{/logout}">
  <button type="submit">Выйти из личного кабинета</button>
</form>
<br>
</body>
</html>